@font-face {
  font-family: "Bahnschrift";
  src: url(static/fonts/BAHNSCHRIFT\ 5.TTF);
}

* {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Bahnschrift', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.megacontainer {
  width: 100%;
  height: 100vh;
  padding: 7.5vh 2.5vh;
  position: relative;
  background-image: url(static/wallpapers/PoyoOSWallpaper2.png);
  background-size: cover;
  background-position: bottom;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 5vh;
  z-index: 1000;
}

.navbar * {
  will-change: transform;
}

.navbarBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(5px);
  border: rgba(255, 255, 255, 0.4) dotted 5px;
  transform: perspective(100px) rotateX(20deg);
}


.topnavbar {
  height: 5vh;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-image: linear-gradient(rgb(78, 77, 77), rgb(16, 26, 26));
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  z-index: 100;
}

.topnavbar .clock {
  width: 5vw;
  height: 100%;
  position: absolute;
  top:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: inherit;
  transform: translateX(-2.5vw);
  transition: filter 0.2s;
}

.topnavbar .clock:hover {
  filter: invert(0.5);
  box-shadow: 0 5px 0 0 rgba(255, 255, 255, 0.5);
}
.menu {
  position: absolute;
  height: 5vh;
  top:0;
  left:0;
  display: flex;
  align-items: top;
  justify-content: left;
  z-index: inherit;
}


.menuButton {
  height: inherit;
  width: 5vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: inherit;
  background: transparent;
}

.topnavbar .menuButton img {
  height: inherit;
  width: inherit;
  filter: invert(1);
  transition: filter 0.2s;
}

.topnavbar .menuButton img:hover {
  filter: invert(0.5);
  box-shadow: 0 5px 0 0 rgba(255, 255, 255, 0.5);
}